### Prediction of Sales thru Advertising Budgets

Import Libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/CaseStudy/Advertising.csv')

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/CaseStudy/Advertising.csv', index_col=0)

In [8]:
data.shape

(200, 4)

In [12]:
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [13]:
data.tail()

        TV  radio  newspaper  sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [18]:
data.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

Model Creation Steps
1. Split X and Y, Store X and Y separately
2. Split Train and Test Data
3. Create the model and evaluate on Test data

### 1st Method - Splitting X and Y

In [19]:
y = data.sales

In [20]:
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [25]:
X = data[['TV','radio','newspaper']]

In [26]:
X.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

### 2nd Method - Splitting X and Y

In [23]:
X = data.drop(labels = 'sales', axis = 1)
X.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

axis = 1, will drop entire column ; axis = 0, will drop entire row

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1)

print('X_train_shape:', X_train.shape)
print('X_test_shape:', X_test.shape)
print('y_train_shape:', y_train.shape)
print('y_test_shape:', X_test.shape)

X_train_shape: (160, 3)
X_test_shape: (40, 3)
y_train_shape: (160,)
y_test_shape: (40, 3)

Model Creation

In [29]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [32]:
print('Intercept:', linreg.intercept_)
print('Coefficients:', linreg.coef_)

Intercept: 2.907947020816433
Coefficients: [0.0468431  0.17854434 0.00258619]

In [33]:
y_pred_test = linreg.predict(X_test)

Importing Metrics from SKlearn

In [34]:
from sklearn import metrics
metrics.r2_score(y_test, y_pred_test)

0.8927605914615384

Adjusted RSquare - Need to code for the value

Copying R2 values into an variable

In [40]:
r2_test = metrics.r2_score(y_test, y_pred_test)
r2_test

0.8927605914615384

In [39]:
adj_r_squared_test = 1-(1-metrics.r2_score(y_test, y_pred_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
adj_r_squared_test

0.8838239740833332

In [43]:
adj_r_squared_test = 1-(1-(r2_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
adj_r_squared_test

0.8838239740833332