Task is to predict what Future Transaction can be...

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA
from random import randint
from sklearn.linear_model import LinearRegression

In [32]:
value = pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/insaid2018/pca-file/master/train.csv')

In [34]:
value.shape

(4459, 4993)

In [35]:
value.head()

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,002a68644,14400000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

<h1> 4.1 Data Description </h1>

No need to write Data description as columns are more than 4900. Also we can check if any Column has null values by running one code

In [36]:
# value .isnull().sum()
value.isnull().sum().any()

False

<h3> Drop Redundant Columns </h3>

In [37]:
value.drop('ID', axis = 1, inplace = True)

In [38]:
value.shape

(4459, 4992)

In [39]:
value.head()

,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,38000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,600000.0,0.0,0,0.0,0,0,0,0,0,2200000.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,10000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,2000000.0,0.0,0,0.0,0,0,0,0,0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,14400000.0,0.0,0,0.0,0,0,0,0,0,2000000.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

Run the Code like it, without making any data changes

In [40]:
X = value.drop(labels=['target'], axis=1)
y = value['target']

In [41]:
X.head()

,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,dc5a8f1d8,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,0.0,0,0.0,0,0,0,0,0,2200000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0.0,0,0.0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,0.0,0,0.0,0,0,0,0,0,2000000.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [42]:
X.shape

(4459, 4991)

In [45]:
y.head()

0    38000000.0
1      600000.0
2    10000000.0
3     2000000.0
4    14400000.0
Name: target, dtype: float64

In [46]:
# splitting data into Training and Testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=19)

In [47]:
# Display the shape of Training and Testing Data
print('X_train shape: ', X_train.shape)
print('y_train shape: ', y_train.shape)
print('X_test shape: ', X_test.shape)
print('y_test shape: ', y_test.shape)

X_train shape:  (3567, 4991)
y_train shape:  (3567,)
X_test shape:  (892, 4991)
y_test shape:  (892,)

Run both Linear Regression and Random Forest without performing PCA at a stretch to compare before and after performance
Running both the models to compare the performance.

In [53]:
clfs = [LinearRegression(), RandomForestRegressor(random_state=42)]

for clf in clfs:

  # Extracting model name
  model_name = type(clf).__name__

  # Train the model
  clf.fit(X_train, y_train)

  # Make predictions on the trained model
  predictions = clf.predict(X_test)

  # Estimating the model performance
  RMSE = np.sqrt(metrics.mean_squared_error(y_test,predictions))
  R_squared = metrics.r2_score(y_test, predictions)
  

  # Display the metrics and time took to develop the model
  print('Performance Metrics of', model_name, ':')
  print('[RMSE] : ', RMSE, '[R_Squared] : ', R_squared)
  print('----------------------------------------\n')

Performance Metrics of LinearRegression :
[RMSE] :  375306422932.2525 [R_Squared] :  -2216355909.0705996
----------------------------------------

Performance Metrics of RandomForestRegressor :
[RMSE] :  6928371.964053566 [R_Squared] :  0.24468188679229408
----------------------------------------

Running Codes individually

Using Alternate code - Only Linear Regression

In [54]:
clf=LinearRegression()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
R_squared = metrics.r2_score(y_test, predictions)
print(R_squared)

-2216355909.0705996

Running Random Forest code

In [55]:
clf1=RandomForestRegressor()
clf1.fit(X_train, y_train)
predictions1 = clf1.predict(X_test)
R_squared1 = metrics.r2_score(y_test, predictions1)
print(R_squared1)

0.2413833807130622

Running PCA

Identify dimensions required to retain 80% of the information (variance) from the dataset
<br> The original features often display significant redundancy, which is the main reason why principal components analysis works so well at reducing dimensionality. </br>
<br> One characteristic of PCA is that the first principal component holds the most information about the dataset. The second principal component is more informative than the third, and so on </br>

<br> As the number of features or dimensions in a dataset increases, the amount of data required to obtain a statistically significant result increases exponentially. This can lead to issues such as overfitting, increased computation time, and reduced accuracy of machine learning models this is known as the curse of dimensionality,
Problems that arise while working with high-dimensional data. </br>

In [62]:
pca = PCA(n_components = 0.80, random_state = 19)

X_pca_train = pca.fit_transform(X_train)
X_pca_test = pca.transform(X_test)

print('Shape of Train:', X_pca_train.shape)
print('Shape of Test:', X_pca_test.shape)

Shape of Train: (3567, 138)
Shape of Test: (892, 138)

In [66]:
pca = PCA(n_components = 0.70, random_state = 19)

X_pca_train1 = pca.fit_transform(X_train)
X_pca_test1 = pca.transform(X_test)

print('Shape of Train1:', X_pca_train1.shape)
print('Shape of Test1:', X_pca_test1.shape)

Shape of Train1: (3567, 64)
Shape of Test1: (892, 64)

In [65]:
pca = PCA(n_components = 0.90, random_state = 19)

X_pca_train2 = pca.fit_transform(X_train)
X_pca_test2 = pca.transform(X_test)

print('Shape of Train2:', X_pca_train2.shape)
print('Shape of Test2:', X_pca_test2.shape)

Shape of Train2: (3567, 317)
Shape of Test2: (892, 317)

#### Model Development and Evaluation with PCA

Rerunning the model with 80% PCA

In [67]:
clf=LinearRegression()
clf.fit(X_pca_train, y_train)
predictions = clf.predict(X_pca_test)
R_squared = metrics.r2_score(y_test, predictions)
print(R_squared)

0.17390912983282125

Rerunning the model with 70% PCA

In [68]:
clf=LinearRegression()
clf.fit(X_pca_train1, y_train)
predictions = clf.predict(X_pca_test1)
R_squared = metrics.r2_score(y_test, predictions)
print(R_squared)

0.1756221575077359

Rerunning the model with 90% PCA

In [69]:
clf=LinearRegression()
clf.fit(X_pca_train2, y_train)
predictions = clf.predict(X_pca_test2)
R_squared = metrics.r2_score(y_test, predictions)
print(R_squared)

0.11846634069591255

n_components = Number of PCAs that we want to create basis the info captured from the data